.noItems{
    text-align: center;
    background-color: rgba(183, 212, 255, 0.8);
    color: black;
    width: 100%;
    padding: 10px 0;
}

.container{
    margin: 5rem auto;
    width: 50%;
}

.cartItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 5px 0; 
}


.itemText{
    font-size: 18px;
    font-weight: 500;
}